@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Poppins:wght@500;800&display=swap');
body{
    overflow: hidden;
    animation: starting;
    animation-duration: 3s;
    background: linear-gradient(rgb(23, 63, 150), rgb(51, 131, 197));
    width: 100%;
    height: 100vh;
    text-shadow: 2px 2px 5px black;
    color: white;
}


/* Websites Gallery Layout */
.Gallery{
    display: flex;
    height: 20rem;
    gap: 0rem;
}
.Gallery > a{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.Gallery > a:hover{
    flex: 5;
}
.home:hover{
    text-shadow: 0 0 5px white;
    color: rgb(238, 224, 162);
    font-size: 1.2em;   
}
pre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/* FeedBack Website */
#bugged { 
    color: red;
    font-size : 90px;
}
#bugged del:hover {
    display: inline-block;
    cursor: pointer;
    transform: translate(-300%);

}
#feature {
    color: aliceblue;
    font-size: 100px;
    text-decoration: none;
    color: rgb(94, 196, 157);
    font-size: 250px;
    font-family: 'Freehand', cursive;
}

/* Make IT WORSE */
#feature:hover {
    background-color: red;
    text-decoration: none;
    color: rgb(94, 196, 157);
    font-size: 180px;
    font-family: 'Freehand', cursive;

}

/* About us */
#error:hover{
    text-shadow: 0 0 5px white;
    color: rgb(157, 199, 238);
}
#warning:hover{
    font-size: 105%;
}


@keyframes starting{

    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}