body{
    
    /* Colors  */
    background: linear-gradient(rgb(23, 63, 150), rgb(51, 131, 197));
    position: relative;
    overflow: hidden;

    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#notouching{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px black;
    background-color: #d7e0e2;
    border: solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 5px 5px 25px;
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;

}

.parallax{

    padding-left: 550px;
    padding-top: 450px;
    height: 100vh;
    min-height: 100vh;
}
.parallax p{
    
    padding-left: 100px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.front ,.back{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;

}

.front{
    z-index: 1;
}
.front img{
    filter: drop-shadow(20px 20px 20px black) ;
    /* box-shadow: -5px -5px 20px black; */
    max-width: 500PX;
    border-radius: 10px;

}

.back{
    z-index: 0;
}
.back img{
    box-shadow: 0 1 1.5rgba(0,0,0,0.5);
    max-width: 450px;
    border-radius: 10px;

}
.back img,.front img{
    position: absolute;
    filter: blur(0px);
    opacity: 0;
    animation: fadeIn calc(var(--order) * 1000ms) forwards;

}


/* Placement TOP ------------------------------------*/

.front img:nth-child(1){
    top: 20%;
    left: -2%;
    width: 100%;
}
.front img:nth-child(2){
    top: 60%;
    left: -5%;
    width: 100%;
}
.front img:nth-child(3){
    bottom: 30%;
    left: 55%;
    width: 40%;
}
.front img:nth-child(4){
    bottom: 70%;
    right: 60%;
    width: 20%;
}
.front img:nth-child(5){
    top: 15%;
    right: 10%;
    width: 70%;
}

/* Placement BOT ------------------------------------*/

.back img:nth-child(1){
    top: 0%;
    left: -2%;
    width: 100%;
}
.back img:nth-child(2){
    top: 0%;
    right: 10%;
    width: 80%;
}
.back img:nth-child(3){
    bottom: 1%;
    left: 10%;
    width: 33%;
}
.back img:nth-child(4){
    bottom: 1%;
    right: 02%;
    width: 33%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}